.menu {
  padding: 70px 0 75px;
  h2 {
    text-align: center;
  }
  &__intro {
    max-width: 565px;
    margin: $mc;
    text-align: center;
  }
}

.tabs__container {
  margin: 45px auto 55px;
  position: relative;
  height: 60px;
  max-width: $container;
  overflow-y: hidden;
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 8px;
    background-color: $tabs;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $yellow;
  }
}

.tabs {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @include flex(center, center);
  flex-wrap: nowrap;
  &__item {
    min-width: 163px;
    cursor: pointer;
    padding: 0 10px;
    transition: .3s;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $tabs;
    height: 47px;
    @include flex(center, center);
    border-right: 1px solid $tabs-opacity;
    &:hover,
    &.active {
      background-color: $yellow;
    }
    &:last-child {
      border-right: none;
    }
  }
  &.overflow {    
    left: 0;
    transform: none;
  }
}
